@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

header{
    background-color: #fdffbc;
}
.logo img {
    width: 50px;
    float: left;
    margin-top: 13px;
  
}

.logo h1 {
    color: #ff7a00;
    float: left;
    margin-top: 0px;
    font-family: 'New Tegomin', serif;
    
}

.pages {
    overflow: hidden;
    
}

.places button {
    outline: none;
    float: right;
    border: none;
    font-size: 20px;
    color: #ff7a00;
    background-color: #fdffbc;
    margin-top: 5px;
    

}

/* .cities button:hover{
    font-size: 30px;
    
} */

.place p {
    display: none;
}


.slides {
    width: 1000px;
    height: 500px;
    text-align: center;
    object-fit: contain;
    margin:auto;
    padding-top: auto;
    
}

.photo {
    
    display: none;
}

.pic img {
    width: 1000px;
    
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ff7a00;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    font-size: 30px;
  }

  body {
      
      background-color: #fdffbc;
  }

  main hr {
      margin-top: 200px;
      color: #ff7a00;
  }

  .title2 {
      text-align: center;
       font-family: 'New Tegomin', serif;
        color: #ff7a00;
        padding-top: 30px;
        padding-bottom: 30px;
  }

  .title3 {
    text-align: center;
    font-family: 'New Tegomin', serif;
     color: #ff7a00;
     padding-top: 30px;
     padding-bottom: 30px;
  }
  
  .photoContainer1 {
      float: right;
      width: 30%;
      text-align: center;
      margin: auto;
  }

  .photoContainer2 {
      display: inline-block;
      width: 30%;
      text-align: center;
  }
  main img {
      width: 500px;
      height: 500px;
  }

  main h2 {
    color: #ff7a00;
  }

  .photoContainer3 {
      float: right;
      width: 30%;
      text-align: center;
      margin: auto;
  }

  .photoContainer4 {
      text-align: center;
      width: 30%;
      display: inline-block;
  }